@import 'styles/settings.scss';

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 150px;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__content {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.card {
    width: 31%;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255, .1);
    overflow: hidden;
    flex: 1;
    transition: all .3s ease-in-out;
    position: relative;
    z-index: 90;

    &:hover {
        border: 1px solid white; 
        transform: translate(0, -20px);

        .card__foreground {
            opacity: 0; 
        }
    }

    &__imageWrapper {
        width: 100%;
        height: 300px;
        position: relative;
        -webkit-mask-image: linear-gradient(180deg, black 60%, transparent 100%);
        mask-image: linear-gradient(black 60%, transparent 100%); 
    }

    &__image {
        width: 100%;
        height: 300px;
        position: absolute;
        z-index: 80;
    }

    &__foreground {
        width: 100%;
        height: 300px;
        position: absolute;
        z-index: 90;
        transition: all .3s ease-in-out;

    }

    &__textWrapper {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
    }

    &__title {
        position: absolute;
        top: -5px;
        left: 0;
        padding-left: 20px;
        padding-right: 20px;
        transform: translate(0%, -100%);
    }

    &__text {
        color: $grey__text;
        font-size: 14px;
    }
}




