@import 'styles/settings.scss';


.color_square {
    width: 500px;
    height: 200px;
    position: absolute;
    filter: blur(150px);
    opacity: 50%; /* Ajustez la valeur pour contrôler le niveau de flou */
}

.violet {
    background-color: #D67BFF;
    bottom: 0;
    left: 0;
}

.green {
    background-color: #45FFCA;
    top: 0;
    right: 0;
}

.blue {
    background-color: blue;
    top: 80%;
    left: 70%;
}
