@import 'styles/settings.scss';

.projects {
    padding-top: 150px;  
    width: 100%;  

    &__textWrapper {
        margin-bottom: 50px;   
    }
}

.slider {
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid rgb(255, 255, 255, .1);
}

.slide {
    width: 90%;
    height: 100%;

    &__image {
        height: 100%;
        width: 100%;
        opacity: .8;
        position: relative; 
    }

    &__textWrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0%;
        opacity: 0;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right, rgba(0, 0, 0, .80), rgba(0, 0, 0, .80));
        transition: all .3s ease-in-out;
        gap: 20px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }

    &__title{
        font-size: 40px;
    }

    .immo {
        font-family: "unbounded", sans-serif;
    }

    &__button {
        text-decoration: none;
        border: 1px solid #fff;
        padding: 8px 16px;
        border-radius: $radius;
    }

    &:hover {
        .slide__textWrapper {
            height: 100%;
            opacity: 1;
        }
    }
}